* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
  background-image: url("https://eep.io/images/yzco4xsimv0y/7gBk3LTMveIZupaWMwacrP/a49755e848f7b21c1f8e6a05fc7f9799/Thumbnail_Image_01.jpg?w=1920&q=95");
}

.ul_one a {
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  list-style-type: none;
}

.heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  position: fixed;
  margin-left: 45%;
}

.ul_one a:hover {
  color: rgb(15, 100, 15);
}

.ul_two a {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.header:hover {
  background: #fff;
}

.middletext {
  padding-top: 300px;
  text-align: center;
  font-size: 25px;
  height: 400px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("https://eep.io/images/yzco4xsimv0y/7gBk3LTMveIZupaWMwacrP/a49755e848f7b21c1f8e6a05fc7f9799/Thumbnail_Image_01.jpg?w=1920&q=95");
}

.ul_two {
  display: flex;
}

.ul_two .aone:hover {
  color: teal;
}
.ul_two .atwo {
  cursor: pointer;
  display: inline-block;
  color: #241c15;
  font-family: "Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana",
    sans-serif;
  font-weight: 500;
  box-shadow: inset 0 0 0 0.0625rem #241c15;
}

.ul_two .athree {
  cursor: pointer;
  border: none;
  background-color: teal;
  border: none;
  font-family: "Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana",
    sans-serif;
  color: #fff;
  margin-left: 15px;
  padding: 10px 10px;
}

.middlebar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #f6f6f4;
  justify-content: space-evenly;
}

.info_one {
  color: #8c8c8c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.info_two a {
  color: #004e56;
  font-size: 18px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search-box {
  padding: 10px;
}

.search-box:hover > .search-txt {
  width: 100px;
  padding: 0 6px;
  transition: 0.8s;
}

.search-btn {
  color: black;
  align-items: center;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  width: 0px;
}

.layout {
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: auto;
  height: 190vh;
}

.content_wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  height: 100vh;
  display: flex;
}

.sidebar {
  height: 40vh;
  background-color: #fff;
  width: 25%;
  position: sticky;
  top: 80px;
  z-index: 0;
}

.jumpLinkNav__item {
  list-style-type: none;
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 1px solid grey;
}

.jumpLinkNav__item a {
  text-decoration: none;
}

.content {
  height: 190vh;
  background-color: #fff;
  width: 70%;
  margin-left: 50px;
}

.footer_head {
  width: 100%;
  height: 100px;
  background-color: #efeeea;
  border-bottom: 1px solid grey;
  justify-content: center;
  margin-top: 50px;
}

.info_links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 40px;
  padding-right: 30px;
}

.info_links h3,
a {
  text-decoration: none;
  padding-right: 30px;
  color: #241c15;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer_box {
  width: 100%;
  background-color: #efeeea;
  height: 600px;
}

.footer_itemscontainer {
  width: 90%;
  background-color: #efeeea;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.footerItemColumn {
  background-color: #efeeea;
  height: 500px;
  padding-top: 40px;
  margin: 10px;
}

.footerItem {
  text-decoration: none;
  list-style-type: none;
  padding-top: 9px;
}

.third {
  margin-top: 15px;
}

.oneline {
  margin-top: 60px;
}

.p_one {
  padding-top: 20px;
}

.p_two {
  padding-top: 20px;
}
